.dates-container {
    // TODO: probablemento estro tendría que ser global
    border-bottom: 1px solid #aaa;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px 15px;
}

.in-date-container,
.out-date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px;
}
.separator {
    border-right: 1px solid #aaa;
    width: 1px;
}

ion-button {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
}

h6 {
    margin: 0;
}