<h1>¿Cuánto durará tu viaje?</h1>
<h6 class="daysCount" *ngIf="displayReservationDays">{{ displayReservationDays.days }} días y {{ displayReservationDays.nights}} noches</h6>
<section class="dates-container">
  <div class="in-date-container">
    <h6>Entrada</h6>
    <ion-button (click)="presentPopover($event, true)" size="small" fill="clear">Seleccionar fecha</ion-button>
    <span *ngIf="displayDateIn">{{ displayDateIn }}</span>
  </div>
  <div class="separator">
    
  </div>
  <div class="out-date-container">
      <h6>Salida</h6>
      <ion-button (click)="presentPopover($event, false)" size="small" fill="clear">Seleccionar fecha</ion-button>
      <span *ngIf="displayDateOut ">{{ displayDateOut }}</span>
    </div>
</section>