
section {
    padding-bottom: 36px;
    border-bottom: 1px solid #da4473;
}
h1 {
    color: #da4473;
    margin-top: 36px;
}
h5 {
    margin-top: 6px;
    margin-bottom: 24px;
    color: #da4473;
    line-height: 1;
    ion-icon {
        font-size: 24px;
    }
}