<!-- <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-img src="../../../../assets/icon/travelapp.png"></ion-img>
  <ion-title>Travel App</ion-title>
</ion-toolbar> -->
<ion-toolbar>
    <ion-buttons slot="start">
      <ion-img src="../../../../assets/icon/travelapp.png"></ion-img>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button fill="clear">
        <ion-icon name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Travel App</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>