

section {
    padding-bottom: 18px;
}
h1 {
    color: #da4473;
    margin-top: 36px;
}

h6.guestsCount {
    color: #da4473;
    border: 1px solid #da4473;
    padding: 6px 12px;
    text-align: center;
    line-height: 2;
}
h6.guestsCount.error {
    color: red;
    border-color: red;
}
.guests-container {
    margin-bottom: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fila {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
}

.fila-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fila-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

h2 {
    font-size: 16px;
    margin: 0;
}
h3 {
    font-size: 12px;
    margin: 0;
    color: #555;
}

.rounded {
    --border-radius: 50%;
    height: 50px;
    width: 50px;
}

.peopleNumber{
    padding: 0 10px;
}