<section *ngIf="inndata" class="gallery">
  <h1>Explorar</h1>
  <div *ngFor="let gallery of inndata.galleriesImgs" class="gallery-container">
    <h2 class="gallery-title"> {{ gallery.name  }} </h2>
    <div class="gallery-imgs-container">
      <ion-img (click)="agrandarImagen($event)" *ngFor="let image of gallery.imgs" class="gallery-img" [src]="image"></ion-img>
    </div>
  </div>
  <div class="obscure hide"></div>
</section>
<section *ngIf="!inndata" class="gallery skeleton">
    <h1><ion-skeleton-text width="50%" style="height: 35px;"></ion-skeleton-text></h1>
    <div class="gallery-container">
      <h2 class="gallery-title"><ion-skeleton-text width="65%" style="height: 25px;"></ion-skeleton-text> </h2>
      <div class="gallery-imgs-container">
          <ion-skeleton-text animated width="22%" style="height: 65px; margin-right: 2%;"></ion-skeleton-text>
          <ion-skeleton-text animated width="22%" style="height: 65px; margin-right: 2%;"></ion-skeleton-text>
          <ion-skeleton-text animated width="22%" style="height: 65px; margin-right: 2%;"></ion-skeleton-text>
          <ion-skeleton-text animated width="22%" style="height: 65px; margin-right: 2%;"></ion-skeleton-text>
      </div>
    </div>
    <div class="gallery-container">
        <h2 class="gallery-title"><ion-skeleton-text width="65%" style="height: 25px;"></ion-skeleton-text> </h2>
        <div class="gallery-imgs-container">
            <ion-skeleton-text animated width="22%" style="height: 65px; margin-right: 2%;"></ion-skeleton-text>
            <ion-skeleton-text animated width="22%" style="height: 65px; margin-right: 2%;"></ion-skeleton-text>
            <ion-skeleton-text animated width="22%" style="height: 65px; margin-right: 2%;"></ion-skeleton-text>
            <ion-skeleton-text animated width="22%" style="height: 65px; margin-right: 2%;"></ion-skeleton-text>
        </div>
      </div>
      <div class="gallery-container">
          <h2 class="gallery-title"><ion-skeleton-text width="65%" style="height: 25px;"></ion-skeleton-text> </h2>
          <div class="gallery-imgs-container">
              <ion-skeleton-text animated width="22%" style="height: 65px; margin-right: 2%;"></ion-skeleton-text>
              <ion-skeleton-text animated width="22%" style="height: 65px; margin-right: 2%;"></ion-skeleton-text>
              <ion-skeleton-text animated width="22%" style="height: 65px; margin-right: 2%;"></ion-skeleton-text>
              <ion-skeleton-text animated width="22%" style="height: 65px; margin-right: 2%;"></ion-skeleton-text>
          </div>
        </div>
    <div class="obscure hide"></div>
  </section>