<ion-card>
    <ion-skeleton-text animated style="width: 100%; height: 33vh;"></ion-skeleton-text>
    <ion-card-header>
      <div class="left">
        <ion-card-subtitle><ion-skeleton-text animated style="width: 60%; height: 20px;"></ion-skeleton-text> </ion-card-subtitle>
        <ion-card-title> <ion-skeleton-text animated style="width: 90%; height: 35px;"></ion-skeleton-text> </ion-card-title>
        <ion-card-subtitle color="primary" class="rating">
            <ion-skeleton-text animated style="width: 50%; height: 15px;"></ion-skeleton-text>
        </ion-card-subtitle>
      </div>
      <div class="right">
        <div class="data-container">
            <ion-skeleton-text animated style="width: 50px; height: 50px;"></ion-skeleton-text>
        </div>        
      </div>
     
    </ion-card-header>
    <ion-card-content>
      <div class="data-container">
        <span class="data"><ion-skeleton-text animated style="width: 40px; height: 40px;"></ion-skeleton-text></span>
        <ion-icon src="https://image.flaticon.com/icons/svg/259/259950.svg"></ion-icon>      
        <span class="label">Capacidad</span>
      </div>
      <div class="data-container">
        <span class="data"><ion-skeleton-text animated style="width: 40px; height: 40px;"></ion-skeleton-text></span>
        <ion-icon src="https://image.flaticon.com/icons/svg/259/259965.svg"></ion-icon>
        <span class="label">Habitaciones</span>
      </div>
      <div class="data-container">
        <span class="data"><ion-skeleton-text animated style="width: 40px; height: 40px;"></ion-skeleton-text></span>
        <ion-icon src="https://image.flaticon.com/icons/svg/259/259974.svg"></ion-icon>
        <span class="label">Baños</span>
      </div>
    </ion-card-content>
  </ion-card>
  