<header>
    <ion-button fill="clear" color="light" class="backButton"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
    <h1 class="city-name">
        <ion-skeleton-text animated style="width: 60vw; height: 50px;"></ion-skeleton-text>
    </h1>
    <ion-button fill="clear" color="light" class="infoButton"><ion-icon name="information-circle"></ion-icon></ion-button>
    <div class="city-image">
        <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
    </div>
  </header>