section.skeleton {
    border-color: #aaa;
}
section {
    padding-bottom: 36px;
    border-bottom: 1px solid #da4473;
}
h1 {
    color: #da4473;
    margin-top: 36px;
}

.services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.service-container {
    width: 25%;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
}
.service-container.activo {
    color: #da4473;
}
.service-container:not(.activo) .service-icon,
.service-container:not(.activo) h4{
    color: #aaa;

}
.service-icon {
    width: 100%;
    font-size: 64px;
}

.service-container h4 {
    margin: 0;
    text-align: center;
    font-size: 12px;
    margin-top: 6px;
}