<section class="date-selector-container">
  <h5 *ngIf="fechaEntrada">Selecciona la fecha de entrada.</h5>
  <h5 *ngIf="!fechaEntrada">Selecciona la fecha de salida.</h5>
  <ionic-calendar-date-picker 
    [monthLabels]="['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']"
    [itemSelectedStyle]="selectedDayStyle()"
    [dayLabels]="['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']"
    [fromDate]="minDate"
    (onSelect)="dateSelected($event)">
  </ionic-calendar-date-picker>	

  <ion-button expand="full" (click)="closeModal()">Aceptar</ion-button>
</section>