<div class="inn-review" *ngIf="reviewdata">
  <div class="review-header">
    <div class="header-left">
      <img [src]="reviewdata.user.profileImg"/>
    </div>
    <div class="header-right">
      <h4>{{ reviewdata.user.name }}</h4>
      <h5>{{ reviewdata.fecha }}</h5>
    </div>
  </div>
  <div class="review-body">
    
    <div class="rating">
      <ion-icon *ngIf="reviewdata.rating >= 1" name="star"></ion-icon>
      <ion-icon *ngIf="reviewdata.rating >= 2" name="star"></ion-icon>
      <ion-icon *ngIf="reviewdata.rating >= 3" name="star"></ion-icon>
      <ion-icon *ngIf="reviewdata.rating >= 4" name="star"></ion-icon>
      <ion-icon *ngIf="reviewdata.rating >= 4.5"name="star-half"></ion-icon>
      <ion-icon *ngIf="reviewdata.rating < 4.5"name="star-outline"></ion-icon>
      <h2>{{ reviewdata.rating }}</h2>
    </div>
    <h6>{{ reviewdata.title }}</h6>
    <p>{{ reviewdata.text }}</p>
  </div>
</div>