<ion-content>
  <app-inn-header [inndata]="inndata"></app-inn-header>
  <section class="ion-padding">
    <app-inn-brief [inndata]="inndata"></app-inn-brief>
    <app-inn-gallery [inndata]="inndata"></app-inn-gallery>
    <app-inn-services [inndata]="inndata"></app-inn-services>
    <app-inn-location [inndata]="inndata"></app-inn-location>
    <app-inn-reviews [inndata]="inndata"></app-inn-reviews>
    <app-inn-host [inndata]="inndata"></app-inn-host>
    <app-inn-footer [inndata]="inndata"></app-inn-footer>
  </section>
</ion-content>