<section *ngIf="inndata">
  <h1>Ubicación</h1>
  <p>{{ inndata.locationDescr }}</p>
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <div class="map-container">
    <agm-map
      class="agm-map"
      [latitude]="inndata.locationCoor.lat"
      [longitude]="inndata.locationCoor.long"
      [disableDefaultUI]="true"
      [zoom]="14"
      [mapDraggable]="draggable"
      >
      <agm-circle  
        [radius]="300"
        [fillColor]="'red'"
        [latitude]="inndata.locationCoor.lat"
        [longitude]="inndata.locationCoor.long">
        <agm-info-window>{{ inndata.name }}</agm-info-window>
      </agm-circle>
    </agm-map>
    <ion-fab-button *ngIf="!zoomed" (click)="zoomIn()">
      <ion-icon name="qr-scanner"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="zoomed" (click)="zoomOut()">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
  </div>
</section>
<section *ngIf="!inndata" class="skeleton">
    <h1><ion-skeleton-text width="60%" style="height: 35px;"></ion-skeleton-text></h1>
    <ion-skeleton-text animated width="90%" style="height: 15px; margin: 6px 0;"></ion-skeleton-text>
    <ion-skeleton-text animated width="90%" style="height: 15px; margin: 6px 0;"></ion-skeleton-text>
    <ion-skeleton-text animated width="90%" style="height: 15px; margin: 6px 0;"></ion-skeleton-text>
    <ion-skeleton-text animated width="60%" style="height: 15px; margin: 6px 0;"></ion-skeleton-text>
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <div class="map-container">
      <ion-skeleton-text animated width="100%" style="height: 30vh;"></ion-skeleton-text>
    </div>
  </section>